name: CI

on:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

env:
  CI: true
  PNPM_VERSION: 9.12.3

jobs:
  release:
    name: Releasing

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.18.2, 20.16.0, 22.11.0]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Init pnpm (latest)
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Use Node.js (v${{ matrix.node-version }})
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint
